@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Detailed instructions and suggestions regarding creating shared tasks will go here.</p>
<p><a href="/Home/CreateTask" class="btn btn-primary btn-lg">Click to create a shared task</a></p>
